/* File: src/index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #F8F9FB; /* Warna background abu-abu muda */
}

/* Hapus settingan root default Vite yang membatasi lebar */
#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
}